.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  place-items: center;
  place-content: space-between;
}

@media screen and (max-width: 600px) {
  /* .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
}
